.container{
    margin-right: 100px;
    margin-left: 100px;
}
.card{
    
    width:400px;
    height: 600px;
}

.card img{
    width: 100%;
}
.bagian-avatar{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
 h2{
    font-size: 40px;
}
.bagian-avatar img{
    width: 100px;
}
.p1 img{
    width: 50px;
    display: flex;
    justify-content: right;
}
.bagian-image{  
background-color: aqua;
position: relative;

span{
    position: absolute;
    background-color: red;
    color: white;
    padding: 10px;
    right: 20px;
    font-size: 20px;
    top: 10px;
    border-radius: 10px;
    font-family: 'roboto', 'sans-serif';
    font-weight: 700;
}

}
p{
    
    font-size: 30px;
    overflow: scroll;
}
.a1{


    button{
        font-size: 25px;
        border-radius: 10px;
        background-color: brown;
        color: white;
        bottom: 20px;
    }
}

